<ng-container *ngIf="localBasket | async as getBasket">
	<ng-container *ngIf="getBasket.azots!.length !== 0 || getBasket.accessories!.length !== 0; else nodata">
		<div class="flex items-center justify-between mb-[25px]">
			<a routerLink="/" class="block">
				<img src="svg/back.svg" alt="back svg" width="25" height="25" />
			</a>
			<h3 class="text-black text-[24px] leading-[normal] font-[700]">Корзина</h3>
			<div></div>
		</div>
		<section id="content" class="relative">
			<div class="grid grid-cols-1 gap-y-[4px] mb-[46px]">
				<div class="flex items-center justify-between bg-[#E9E4E0] py-[14px] px-[11px] rounded-[10px]">
					<div class="flex items-center gap-x-[10px] cursor-pointer">
						<input type="checkbox" id="allChecked" class="w-[20px] cursor-pointer h-[20px] rounded-[2px]"
							[(ngModel)]="allChecked" (change)="toggleAllChecked()">
						<label for="allChecked" class="text-[16px] cursor-pointer font-normal text-black">Выбрать все</label>
					</div>
					<div class="flex items-center">
						<img src="svg/x.svg" alt="x svg" width="25" height="25">
						<p class="text-[16px] cursor-pointer font-normal text-[#FF6161]">Удалить выбранное</p>
					</div>
				</div>
				<div class="bg-[#E9E4E0] py-[21px] px-[11px] rounded-[10px] orders">
					<!-- Azots -->
					<app-product-card [selectItems]="selectedItems()" *ngFor="let azot of getBasket.azots"
						(azotToggle)="onToggled($event)" class="w-full"
						[product]="{product: azot, productType: 'azot'}"></app-product-card>
					<app-product-card [selectItems]="selectedItems()" *ngFor="let accessor of getBasket.accessories"
						(azotToggle)="onToggled($event)" class="w-full"
						[product]="{product: accessor, productType: 'accessor'}"></app-product-card>
				</div>
				@let promocode = promocode$ | async;
				<div class="bg-[#E9E4E0] py-[21px] px-[11px] rounded-[10px]">
					<h1 class="text-[18px] text-black font-medium mb-[6px]">Промокод</h1>
					<div class="rounded-[5px] bg-white grid grid-cols-[1fr_auto] gap-x-[4px] pr-[15px]">
						<input type="text" #promoInpEl
							class="w-full pl-[15px] outline-none text-black text-[12px] font-normal h-[30px]"
							(input)="promoInp(promoInpEl.value)">
						<p class="txt-liner text-[12px] self-center max-w-[125px] text-right font-medium">
							Скидка 1%
						</p>
					</div>
				</div>
				<div class="bg-[#E9E4E0] py-[21px] px-[11px] rounded-[10px]">
					<h1 class="text-[18px] text-black font-medium mb-[6px]">Итого:</h1>
					<p class="text-black/50 text-[14px] font-normal mb-[5px]">Кол-во товаров: <span
							class="text-black">{{getBasket.total_count | uzPrice}}</span>
					</p>
					<p class="text-black/50 text-[16px] font-normal">
						Скидка:
						<span class="text-black">{{promocode? promocode.amount: 0| uzPrice}}₽</span>
					</p>

					<h2 class="text-black/50 text-[16px] font-bold mt-[10px] pt-[10px] border-t border-[#cbcbcb]">
						Сумма:
						<span class="text-black">
							{{promocode? getBasket.total_price - promocode.amount: getBasket.total_price | uzPrice}}₽
						</span>
						<del class="ml-2 text-black/50 font-normal text-sm italic" *ngIf="promocode">
							{{getBasket.total_price | uzPrice}}₽
						</del>
					</h2>

				</div>
			</div>
			<div class="w-full px-[10px] fixed left-0 right-0 bottom-[75px] max-w-[768px] mx-auto">
				<button type="button"
					class="block w-full cursor-pointer text-black h-[46px] bg-gradient flex items-center justify-center rounded-[5px] text-[12px] font-medium">
					Перейти к оформлению заказа</button>
			</div>
		</section>
	</ng-container>
</ng-container>
<ng-template #nodata>
	<div class="flex w-full flex-col items-center font-sans text-center fixed max-w-[768px] mx-auto"
		style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<img src="svg/empty.svg" alt="empty" class="block w-full max-w-[70%]">
		<p class="text-[16px] leading-4 text-black font-bold mt-5">В корзине пусто</p>
		<p class="text-[14px] leading-4 text-[#757575] text-center font-medium mt-3">Добавляйте сюда любимые товары<br>и
			заказывайте их всего в пару кликов</p>
		<a class="flex items-center justify-center gap-2 w-3/4 bg-gradient text-black text-center rounded-lg py-2.5 mt-10"
			routerLink="/">
			<img src="svg/water.svg" alt="">
			За покупками
		</a>
	</div>
</ng-template>