@let accessor = getAccessor();
<div class="rounded-t-[10px] rounded-b-[5px] overflow-hidden w-full">
	<div class="bg-white p-[10px] w-full">
		<img [src]="accessor.image_url" [alt]="accessor.title" class="w-full h-auto block" loading="lazy">
	</div>
	<div class="bg-[#E9E4E0]">
		<div class="p-[10px]">
			<p class="text-[16px] text-black font-[500] leading-[120%]">{{accessor.title}}</p>
			<h4 class="text-[18px] font-[700]">{{accessor.price}}₽</h4>
			<p class="text-[14px] text-black leading-[120%]">{{accessor.description}}</p>
		</div>
		<button type="button" (click)="kupit(accessor.id.toString())"
			class="bg-gradient cursor-pointer w-full h-[40px] font-[500] gap-x-[5px] rounded-[5px] flex items-center justify-center">
			<img src="svg/card-basket.svg" [alt]="accessor.title" width="19" height="19">
			Купить
		</button>
	</div>
</div>