<div class="bg-[#E9E4E0] py-[21px] px-[11px] rounded-[10px]" *ngIf="orderInp() as order">
	<div class="border-b-1 border-[#cbcbcb] pb-[15px] mb-[15px]">
		<div class="flex items-end gap-x-[10px]">
			<h1 class="text-black text-[18px] font-bold">Заказ №{{order.id}}</h1>
			<p class="text-[#9B9B9B]">от 12.04.2025</p>
			<button type="button" class="ml-auto cursor-pointer" (click)="deleteOrder(order.id)">
				<img src="svg/delete.svg" alt="delete icon" width="25" height="25">
			</button>
		</div>
		<h4 class="leading-[100%] font-[500] text-[14px] text-[#DC1F1F]" [style.color]="STATUS_MAP[order.status].color">
			{{order.status_text}}</h4>
	</div>
	<div class="orders">
		<div class="order-item" *ngFor="let item of order.accessories">
			<app-product-card [product]="{product:item, productType: 'accessor'}"></app-product-card>
		</div>
		<div class="order-item" *ngFor="let item of order.azots">
			<app-product-card [product]="{product:item, productType: 'azot'}"></app-product-card>
		</div>
	</div>
	<div class="flex items-center justify-between border-t-1 border-[#cbcbcb] pt-[15px] mt-[15px]">
		<p class="text-[#B9B9B9] font-[400] text-[14px]">Кол-во товаров:
			<span class="text-black font-[700]">{{order_count()}}</span>
		</p>
		<p class="text-[#B9B9B9] font-[400] text-[14px]">Сумма: <span class="text-black font-[700]">{{order.all_price|
				uzPrice}}
				₽</span></p>
	</div>
</div>