<div class="flex items-center gap-x-[15px] order-item" *ngIf="aksessuarState() as aksessuar">
	<div class="relative">
		<input type="checkbox" [value]="aksessuar.product_id" [checked]="isChecked(aksessuar.product_id)"
			(change)="toggleItem(aksessuar.product_id, 'aksessuari',$event)"
			class="absolute cursor-pointer top-[-2px] z-2 w-[23px] h-[23px] left-[-2px] border-[2px] rounded-[5px] border-[#E9E4E0]">
		<div class="bg-white rounded-[10px] overflow-hidden flex justify-center w-[110px] h-[96px] p-[10px]">
			<img [src]="aksessuar.product.image_url" alt="butilka" class="block w-full h-full object-contain">
		</div>
	</div>
	<div>
		<h3 class="text-[14px] font-medium text-black">{{aksessuar.product.title}}</h3>
		<h1 class="text-[18px] font-medium text-black">{{aksessuar.price}}₽</h1>
		<div class="flex items-center justify-between gap-x-[5px]">
			<div class="flex items-center w-full max-w-[150px] gap-[5px]">
				<button type="button" (click)="minus(aksessuar.product_id)"
					class="w-[25px] h-[25px] cursor-pointer shrink-[0] bg-[#D9D9D9] items-center justify-center rounded-[3px] p-[7px]">
					<img src="svg/minus.svg" alt="minus icon" class="w-full block">
				</button>
				<input type="number" #qty
					class="w-full h-[25px] bg-[#D9D9D9] text-black rounded-[3px] text-[16px] px-[3px] text-center outline-[0]"
					[value]="aksessuar.quantity" min="0" readonly>
				<button type="button" (click)="plus(aksessuar.product_id)"
					class="w-[25px] h-[25px] cursor-pointer shrink-[0] bg-gradient items-center justify-center rounded-[3px] p-[7px]">
					<img src="svg/plus.svg" alt="plus icon" class="w-full block">
				</button>
			</div>
			<button type="button" class="w-[24px] h-[24px] cursor-pointer">
				<img src="svg/delete.svg" alt="delete svg" class="w-full">
			</button>
		</div>
	</div>
</div>