@import "tailwindcss";

body {
  background-color: #3f00ff;
}

.txt-liner {
  background: linear-gradient(180deg, #f9ef91 0%, #f6c600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
