@import "tailwindcss";
* {
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
}

.txt-liner {
  background: linear-gradient(180deg, #f9ef91 0%, #f6c600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(270deg, #fecc68 0%, #f9d98a 100%);
}
