@import "tailwindcss";
* {
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
  user-select: none;
}

.txt-liner {
  background: linear-gradient(180deg, #f9ef91 0%, #f6c600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(270deg, #fecc68 0%, #f9d98a 100%);
}

input[type="checkbox"] {
  appearance: none;
  background-color: white;
  &.big {
    background: url("../public/svg/check-gray.svg") no-repeat;
    background-size: 100%;
  }
  &:checked {
    background: url("../public/svg/check-card.svg") no-repeat;
    background-size: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
