<ng-container *ngIf="productState() as product">
	<div class="flex items-center gap-x-[15px] order-item">
		<div class="relative">
			<input type="checkbox" [checked]="isChecked(product.product_id)"
				(change)="toggleItem(product.product_id, 'azot' ,$event)"
				class="absolute top-[-2px] border-2 w-[23px] h-[23px] left-[-2px] rounded-[5px] border-[2px] border-[#E9E4E0]">
			<div class="bg-white rounded-[10px] overflow-hidden flex justify-center w-[110px] h-[96px]">
				<img [src]="product.product.image_url" [alt]="product.name" class="block w-full h-[100%]"
					[ngClass]="getProduct().productType === 'azot'? 'object-cover object-top':'object-contain object-center'">
			</div>
		</div>
		<div class="w-full">
			<span class="text-[12px] opacity-50" *ngIf="'price_type' in product">{{product.price_type}}, {{
				product.product.type}}</span>
			<h3 class="text-[14px] font-medium text-black">{{product.name}}</h3>
			<h1 class="text-[18px] font-medium text-black">{{product.price}} ₽</h1>
			<div class="flex items-center justify-between gap-x-[5px] mt-[10px]">
				<div class="flex items-center gap-[5px] w-full max-w-[150px]">
					<button type="button" (click)="minus(product.product_id)"
						class="w-[25px] h-[25px] cursor-pointer shrink-[0] items-center bg-[#D9D9D9] justify-center rounded-[3px] p-[7px]">
						<img src="svg/minus.svg" alt="minus icon" class="w-full">
					</button>
					<input type="number" #qty
						class="w-full h-[25px] bg-[#D9D9D9] text-black rounded-[3px] text-[16px] px-[3px] text-center outline-[0]"
						[value]="product.quantity" readonly>
					<button type="button" (click)="plus(product.product_id)"
						class="w-[25px] h-[25px] cursor-pointer shrink-[0] bg-gradient items-center justify-center rounded-[3px] p-[7px]">
						<img src="svg/plus.svg" alt="plus icon" class="w-full">
					</button>
				</div>
				<button type="button" class="w-[24px] cursor-pointer h-[24px]">
					<img src="svg/delete.svg" alt="delete svg" class="w-full">
				</button>
			</div>
		</div>
	</div>
</ng-container>